.sidebar-wrapper {
    height: 100vh;
   border-right: 1px solid black;
    opacity: 0.75;
    color:black;
    width: 20vw;
    min-width: 300px;
    text-align: center;
    
}

.sidebar-wrapper .header {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.sidebar-wrapper .user .avatar {
    width: 9vw;
    height: 9vw;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}

.sidebar-wrapper .user .name {
    margin-top: 20px;
    font-size: 1.2em;
}

.sidebar-wrapper .links {
    text-align: left;
    padding-top: 40px;
    text-decoration:dotted;
}

.sidebar-wrapper .link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgb(25, 209, 206);
    padding: 15px 25px;
}
body{
    background: linear-gradient(300deg, #7fc1f8,#a9deff, #00d4ff);
}
.link:hover{
    background-color: rgb(185, 237, 240);
}
.sidebar-wrapper:hover{
    box-shadow: 2px 2px 2px 2px black;
}